.page-header {
    background-color: #5b9aa0;
    margin-top: 0;
    padding: 20px 20px 25px 80px;
}

.page-header img {
  float: left;
  width: 90px;
  height: 90px;
}

.page-header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #d6d4e0;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    color: #622569;
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save, .save:hover{
    float: right;
    color: #622569;
    background-color: #5b9aa0;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #622569;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.backgroundmy{
  #background-color: #d6d4e0;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #622569;
}
